body{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding:  100px;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  padding: 16px;
  background-color: blue;
  color: white;
  margin: 0px;
}

#textbox{
  width: 99.6%;
  font-size: 20px;
  height: 200px;
}

p{
  padding: 16px;
  background-color: crimson;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}


